@model IEnumerable<AddressBook.Models.Person>

@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

    <form asp-controller="People" asp-action="Index">
        <p>
            Title: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>


